<div class="bg-primary">
  <div class="container">
    <app-header [setWhiteLetters]="whiteLetters" [setAuthenticated]="authenticated"></app-header>
  </div>
  <div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <h1 class="display-4" style="color: #FFFFFF">La mejor aplicación de tableros colaborativos</h1>
      <p class="lead" style="color: #FFFFFF">Ligero, limpio y libre. Shared Notes está disponible para iOS, Android, Mac, Windows, Linux y la web.</p>
      <img class="img-fluid" src="/assets/img/body/vector/jsw-header-illustrations---v3.png" alt="" height="480">
    </div>
  </div>
</div>
