<div class="container">
  <app-header [setWhiteLetters]="false" [setAuthenticated]="authenticated"></app-header>
  <nav class="navbar">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar por" aria-label="search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <div class="collapsible-header text-right" data-toggle="modal" data-target="#newBoardModal">
      <button class="btn btn-outline-primary my-2 my-sm-0"><i class="fas fa-plus" ></i> Nuevo Tablero</button>
    </div>
  </nav>
  <hr>
  <div class="row card-deck">
    <div class="col-4" *ngFor="let board of boards, let b=index;">
      <div class="card border-primary mb-4" style="max-width: 18rem;">
        <div class="card-body text-dark">
          <h6 class="text-left">
            <span class="badge badge-pill badge-primary" [ngClass]="{'badge-success': board.type == 'Public', 'badge-warning': board.type == 'Private'}">
              {{ board.type }}
            </span>
          </h6>
          <h5 class="card-title">
            {{board.title|uppercase}}
          </h5>
          <p *ngFor="let idea of board.ideas | slice:0:3; let i=index;">
            <span class="badge badge-primary">{{ idea | slice:0:15 }} ...</span> &nbsp;
            <span class="badge badge-primary"><a (click)="showIdea(idea)"><i class="fas fa-eye"></i></a></span> &nbsp;
            <!--<span class="badge badge-primary"><a (click)="editIdeaFormModal(board)"><i class="fas fa-pencil-alt"></i></a></span> &nbsp;-->
            <!--<span class="badge badge-primary"><a (click)="deleteIdea(idea)"><i class="fas fa-trash-alt"></i></a></span>-->
          </p>
          <div class="collapsible-header text-right"  >
            <a class="card-link" (click)="checkNewIdea(board.id, board.type, board.created_by.username)" routerLink="">Añadir una idea</a>
          </div>
        </div>
      </div>
      <!-- Modal Idea -->
      <div class="modal fade" id="newIdeaModal" tabindex="-1" role="dialog" aria-labelledby="newIdeaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newIdeaModalLabel">Añadir Idea</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formIdea">
                <div class="form-group">
                  <label for="inputDescription" class="col-form-label">Descripcion</label>
                  <textarea class="form-control" id="inputDescription" formControlName="description"></textarea>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary btn-sm" (click)="newIdea(board.id)" data-dismiss="modal">Añadir</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal fade" id="showBoardModal" tabindex="-1" role="dialog" aria-labelledby="showBoardModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog" role="document">-->
          <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
              <!--<h5 class="modal-title" id="showBoardModalLabel">{{ board.title|uppercase }}</h5>-->
              <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--<span aria-hidden="true">&times;</span>-->
              <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
              <!--<p *ngFor="let idea of board.ideas, let i=index;"> {{ idea  }}</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <!-- Modal Board -->
  <div class="modal fade" id="newBoardModal" tabindex="-1" role="dialog" aria-labelledby="newBoardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newBoardModalLabel">Crear Tablero</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formBoard">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputTitle">Titulo</label>
                <input type="text" formControlName="title" class="form-control" id="inputTitle">
              </div>
              <div class="form-group col-md-6">
                <label for="inputType">Tipo</label>
                <select formControlName="type" class="form-control" id="inputType">
                  <option value="Public">Publico</option>
                  <option value="Private">Privado</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription" class="col-form-label">Descripcion</label>
              <textarea class="form-control" id="inputDescription" formControlName="description"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="newBoard()" data-dismiss="modal">Crear</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="showIdea" tabindex="-1" role="dialog" aria-labelledby="showIdeaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text"></p>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <swal #createIdeaFail
        title="Permiso denegado"
        text="No tienes permisos para escribir en este tablero"
        type="error">
  </swal>
</div>
<div id="idModalIdea" data-toggle="modal" data-target="#newIdeaModal"><a>.</a></div>
<div id="linkShowIdea" data-toggle="modal" data-target="#showIdea"><a>.</a></div>
<!--<app-footer></app-footer>-->
